header{
  background-color: black;
}
img.logo_GDF{
  max-width: 200px;
}
img.logo_RRSS{
  max-height: 30px;
}
.header_container{
  max-width: 1200px;
  display: flex; /*Poner la lista de elementos en horizontal*/
  justify-content: space-between; /*Poner un espacio entre cada elemento*/
  align-items: center;
}
.titulo_header{
  text-transform: uppercase;
}
body{
  background-color: #3d3c3c;
}
h1{
  color: white;
}
h2{
  color: white;
}
p{
  color: #cfcfcf;
}
li{
  color: #cfcfcf;
}
.hero{
  display: flex;
}